$primary: #eaf207;
$dark: #262525;
$font-headings: "Roboto", sans-serif;
$font-body: "Nunito", sans-serif;

$aspect-ratios: (
  "1x1": 100%,
  "4x5": calc(5 / 4 * 100%),
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
);

$utilities: (
  "viewport-height": (
    property: height,
    class: vh,
    values: (
      100: 100vh,
      80: 80vh,
    ),
  ),
);
