$primary: #eaf207;
$dark: #262525;
// $light: #e9ecef;
$background-colour: #393939;
$primary-colour-hover: #f54b8d;
$background-dark: rgba(0, 0, 0, 0.5);

$aspect-ratios: (
  "1x1": 100%,
  "4x5": calc(5 / 4 * 100%),
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
);

$utilities: (
  "viewport-height": (
    property: height,
    class: vh,
    values: (
      100: 100vh,
      80: 80vh,
    ),
  ),
);
