//Hero

.bg-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 70%);
}

//three card banner

.card-image {
  object-fit: cover;
}

//Featured cards
.card-img-top {
  object-fit: cover;
}
