html,
body {
  height: 100%;
}

body {
  color: $dark;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  color: $light;
  background-color: $dark;
  padding: 1.5rem 5rem;
  justify-content: space-between;

  @media screen and (max-width: 567px) {
    flex-direction: column;
    text-align: center;
  }

  &__links {
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 567px) {
      flex-direction: column;
      gap: 0px;
    }
  }
}

.wrapper {
  flex: 1 0 auto;
}

input,
textarea {
  border-radius: 0px !important;
}
